* {
	box-sizing: border-box;
}

html {
	padding: 1rem;
	background: lemonchiffon;
	max-width: 900px;
	margin: auto;
}

h1, h2, h3 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

p {
	margin: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
}

label {
	display: block;
}

input, textarea {
	width: 100%;
	resize: none;
}

.header {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin: 2rem 0;
}

.entries {
	margin: 2rem 0;
}

.entry {
	list-style-type: none;
	padding: 1rem;
	margin: 0.5rem 0;
	background-color: gold;
	border-radius: 0.5rem;
}

.entry-name {
	font-weight: bold;
}

.footer {
	padding: 1rem;
}

.button {
	padding: 1rem;
	background-color: orange;
	border-radius: 0.5rem;
	text-align: center;
	text-decoration: none;
	color: inherit;
	display: block;
	max-width: 250px;
	margin: auto;
}