body {
    background-image: url(window2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(46, 133, 226);
    filter: blur(10px);
    width: 100vw;
    height: 100vw;
    opacity: 60%;
    margin: 0;
    padding: 0;
    z-index: 0;
}
p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    font-size: 25px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
    color: white;
    z-index: 1000;
}
/* button {
	position: fixed;
	bottom: 20px;
	left: 20px;
	padding: 30px;
	font-size: 20px;
	background: radial-gradient(#2B76D9, #8be0f5);
    box-shadow: 0 0 20px 10px #8be0f5;
    border-radius: 50px;
	border: none;
	border-radius: 30px;
}
button a {
	text-decoration: none;
    color: rgb(197, 251, 228);
} */
img {
	position: fixed;
    width: 100px;
    height: auto;
	top: 10px;
	left: 10px;
}

@media (max-width: 600px) {
    body{
        background-color: rgb(46, 133, 226);
        background-image: none;
    }
    div {
        display: none;
    }
    p {
        position: fixed;
        top: 50%;
        left: 50%;
        transform-origin: center;
        font-size: 15px;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
        color: white;
        z-index: 1000;
    }
    
}