body {
    background: url(blue.jpeg);
    background-size: cover;
}
.entry-body {
    display: none;
    position: fixed;
    top: 100px;
    left: 200px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.entry.body img {
    break-before: column;
    margin: 100px;
}
.entry-toggle {
    margin: 8px 0 8px 20px;
    border: none;
    background: radial-gradient(#6DC1E6, #b8edfa);
    box-shadow: 0 0 20px 10px #8be0f5;
    color: black;
    border-radius: 30px;
    padding: 18px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.back img {
	position: fixed;
    width: 100px;
    height: auto;
	top: 10px;
	right: 10px;
}