body {
    background-color: blue;
    margin: 0;
    padding: 0;
}
.imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-style: normal;
  }

.header h1 {
    text-align: left;
    position: relative;
    padding-left: 120px;
    margin-top: 60px;
    font-family:  "Imperial Script", cursive;
    font-size: 60px;
    color: bisque;
    font-weight: 100;
    word-spacing: 10px;
}  
.message p {
    font-family: monospace;
    font-size: 18px;
    color: bisque;
    font-weight: lighter;
    margin: 0;
    padding: 20px;
}
.output span {
    font-weight: bold;
}

.controls {
	width: 100%;
	padding: 20px;
    font-size: 40px;
    color: blue;
}

.controls-grid {
    position: fixed;
	bottom: 200px;
	right: 120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	width: 100%;
	max-width: 400px;
    text-align: right;
}
select[name="occasion"] {
    border-radius: 60px;
    color: blue;
    background-color: rgb(252, 252, 157);
    font-size: 12px;
    font-family: monospace;
    padding: 0;
    margin: 0;
    text-align: center;
}
select[name="to"] {
    border-radius: 60px;
    color: blue;
    background-color: rgb(252, 252, 157);
    font-size: 12px;
    font-family: monospace;
    padding: 0;
    margin: 0;
    text-align: center;
}
.date input {
    border-radius: 60px;
    color: blue;
    background-color: rgb(252, 252, 157);
    font-size: 12px;
    font-family: monospace;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 12px;
    height: 30px;
}
.message {
    float: right;
    margin-top: 60px;
    margin-right: 100px;
}
.message input {
    border-radius: 60px;
    color: blue;
    background-color: rgb(252, 252, 157);
    font-size: 12px;
    font-family: monospace;
    padding: 10px;
}
button[name="capture"] {
	grid-column: span 3;
    border-radius: 60px;
    color: blue;
    background-color: rgb(252, 252, 157);
    font-size: 30px;
    font-family: "Imperial Script", cursive;
    margin: 20px;
}
.postcard {
    margin-top: 60px;
    margin-left: 120px;
    width: 560px; 
    height: auto;
    position: relative; /* Position relative for absolute children */ 
    border: 20px solid transparent; /* Required to define the border width */
    border-image-slice: 100; /* Defines how the image is sliced */
    border-image-repeat: repeat; /* Can be stretch, repeat, or round */
    border-image-width: 20px;
}
.photo {
    width: 560px;
    height: 400px;
    object-fit: cover;
    display: inline-block; 
    filter: contrast(80%) brightness(70%) saturate(110%) sepia(5%);
    image-rendering: pixelated;
    /* filter: sepia(50%) contrast(85%) brightness(70%) saturate(60%); */
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); */
}
.photo img {
    width: 100%;
    height: auto;
    border: none;
    display: block;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
.stamp {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: auto;
    border: 2px dashed;
    border-color: white;
    display: inline-block;
}
.note {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 5px;
    /* border-radius: 5px; */
    color: black;
    background-color: white;
}
.date-display {
    position: absolute;
    top: 28px;
    left: 18px;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    color: black;
    background-color: white;
}


@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.box {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 52em;
    height: 36.5em;
    background-color: rgb(4, 4, 173);
    border-radius: 50px;
    border: solid black 5px;
}

@media print {
    @page {
        size: 6.25in 4.65in;
        margin: 0;
        padding: 0;
    }
    .header {
        display: none;
    }
    .message {
        display: none;
    }
    .controls { 
        display: none; /* Hide the controls when printing */
    }
    .box {
        border: none;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .postcard {
        color: black; /* Change text color for better readability */
        font-size: 16px; /* Adjust font size */
        margin: 0;
        padding: 0;
    }
}