html {
	background: blue;
	color: rgb(248, 232, 166);
}
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
.left {
    left: 0;
    width: 20%;
    padding: 20px;
    margin: 20px;
}
.left h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.left p {
    font-family: monospace;
    font-size: 14px;
}
.left a {
    text-decoration: none;
    color: rgb(58, 130, 245);
}
.left a:hover {
    color: yellow;
}

.project1 {
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 20px;
}
.project2 {
    border-bottom-style: solid;
}

.right {
    right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}
