html {
	background: blue;
	color: rgb(248, 232, 166);
}
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
.left {
    left: 0;
    width: 20%;
    padding: 20px;
}
.left p {
    font-family: monospace;
    font-size: 14px;
    line-height: 28px;
}
.left a {
    text-decoration: none;
    color: rgb(58, 130, 245);
}
.left a:hover {
    color: yellow;
}
.left h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.portfolio h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.portfolio p {
    font-family: monospace;
    font-size: 12px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 10px;
}
.project1 {
    border-top-style: solid;
    border-bottom-style: solid;
}
.project2 {
    border-bottom-style: solid;
}

.right {
    right: 0;
    width: 80%;
	text-align: center;
}
